
body {
    background-image: url('/SaP/media/Design/MasterPage/backgroundtile.gif');
    background-repeat: repeat;
}

.navbar-nav {
    flex-flow: row;

    .nav-item {
        padding: 20px;
        text-align: center;
    }
}

