<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sonicandpalsapinew.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2a94600e-36ff-4511-a5b1-1b05e8fba426/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/SonicandpalsApiNew</ResourceId>
    <UserName>$SonicandpalsApiNew</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://sonicandpalsapinew.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>